*{
    margin: 0;
    padding: 0;
}

:root{
    --header-color: #d2f3fd;
    --hover-color: #007BFF;
    --about-color: #065a0d;
    --aboutBack-color: #c2c2c2;
    --secondBack-color: #1c1c1c;
    --thirdSec-color: #F5F5F5;
    --textColor-color: #c7c7c7;
    --bar-color: #333;
    --strHead-color: #ededed;
}

/*Smooth scroll affect for better looks*/

html{
    scroll-behavior: smooth;
}

/*Create Top part of front page*/

.top_welcome{
    background-image: url(pictures/beautyForest.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}

/*Center the Words to the middle of the screen*/
.welcome{
    text-align: center;
    color: var(--header-color);
    padding-bottom: 100px;
}

.welcome h1{
    font: 80px / 1.1em 'opensans-bold', sans-serif;
    font-weight: bold;
}

.welcome h2{
    font: 20px / 1.1em 'opensans-bold', sans-serif;
    font-weight: 700;
}

.welcome p{
    padding-top: 20px;
    font: 20px / 1.1em 'opensans-bold', sans-serif;
    font-weight: 550;
}

.welcome p a{
    color: var(--header-color);
}

.welcome p a:hover{
    color: var(--hover-color);
}

/*Create Navigaton After top part to place nav correctly*/


/*Header is used to align Nav bar at top with Cool affect*/
header{
    position: fixed;
    top: 0;
    left: 30%;
    right: 30%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/*Navigaiton Coding for clean Display*/
nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li{
    margin: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: var(--header-color);
    font-weight: bold;
    font-size: 19px;
    box-shadow: none;
    padding: 10px 5px;
    transition: color 0.3s ease;
}

nav ul li a:hover{
    color: var(--hover-color);
}

/*SideBar with Hamburger*/
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: var(--header-color);
    display: block; 
    position: fixed;
    top: 0;
    right: 32%;
    z-index: 9999;
}

.menu-icon:hover {
    color: var(--hover-color);
}

/* Style the Side Menu */
.side-menu {
    position: fixed;
    top: 0;
    z-index: 9998;
    right: -250px; /* Hide the menu off-screen */
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: right 0.3s ease;
    padding-top: 60px; /* Space from top for links */
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 1002;
}

.close-btn:hover {
    color: var(--hover-color);
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    padding: 15px;
    text-align: center;
}

.side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.side-menu ul li a:hover {
    background-color: var(--hover-color);
    padding: 5px;
    border-radius: 5px;
}

/* Make menu icon visible on smaller screens */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block; /* Show hamburger icon on smaller screens */
    }
}
/*Create Second part of the Website aka About page*/

.second_section{
    background-color: var(--aboutBack-color);
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.content-container {
    display: flex;
    transition: transform 0.5s ease;
  }

.slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
/*Border affect for the duoInfo*/
/*Start of duoInfo CSS*/
/*dunoInfo css to make it look clean and professional.*/

.duoInfo{
    color: var(--about-color);
    font-weight: bolder;
    border: 2px  solid var(--secondBack-color);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 70px;
    width: 750px;
    position: relative;
}

.duoInfo h1{
    font: 40px / 1.1em  'opensans-bold', sans-serif;
    font-weight: bold;
    color: var(--secondBack-color);
}

.duoInfo p{
    color: var(--secondBack-color);
    font-size: 1.1em;
}

.duoInfo a{
    color: var(--secondBack-color);
}

.duoInfo button img{
    display: flex;
    height: 45px;
    width: 45px;
}

/*End of duoInfo CSS*/

/*Start of Scroller CSS*/
/*Scrollers should have own CSS to ensure it looks good and have
  The outcome I would like.*/

#nextSlide {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--aboutBack-color);
    color: black;
    padding: 0 0;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s ease;
    border-radius: 50%;
    font: 40px / 1.1em  'opensans-bold', sans-serif;
    font-weight: bolder;
}
  
#nextSlide:hover {
    top: 42%;
    transform: scale(1.75);
    margin-right: 11px;
    color: var(--hover-color);
}

#prevSlide {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--aboutBack-color);
    color: black;
    padding: 0 0;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s ease;
    border-radius: 50%;
    font: 40px / 1.1em  'opensans-bold', sans-serif;
    font-weight: bolder;
}
  
#prevSlide:hover {
    top: 42%;
    transform: scale(1.75);
    margin-left: 11px;
    color: var(--hover-color);
}

/*End of Scroller CSS*/


/*Basic code for the third section to keep it aligned properly*/
.third_section {
    height: 40vh;
    background-color: var(--secondBack-color);
    align-content: center;
}

/*Start Education and Edubox CSS*/
.education {
    display: flex;
    justify-content: space-between; 
    justify-content: center;
    gap: 150px;
}

/*Strenght Header*/
.strHead{
    background-color: var(--secondBack-color);
    display: flex;
    justify-content: center;
    align-content: center;
    height: 10vh;
}

.strHead h1{
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font: 60px / 1.1em  'opensans-bold', sans-serif;
    color: var(--strHead-color);
}

/*End Education and Edubox CSS*/

/*Edubox css*/

.eduBox {
    border: 6px solid transparent;
    padding: 30px;
    text-align: center;
    width: 250px;
    aspect-ratio: 1 / 1;
    position: relative;
    
}

.eduBox h1{
    font: 40px / 1.1em  'opensans-bold', sans-serif;
    color: var(--strHead-color);
    padding-bottom: 6px;
}

.eduBox p{
    color: var(--textColor-color);
    font: 16px / 1.1em  'Consolas', sans-serif;
}

/*eduBox CSS animations If wanted */

/*
.eduBox {
    background-color: var(--secondBack-color);
    border: 6px solid transparent;
    padding: 30px;
    text-align: center;
    width: 250px;
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 1);
    background-clip: padding-box;
    animation: borderAnimation 20s linear infinite; 
}


@keyframes borderAnimation {
    0% {
        border-image: linear-gradient(45deg, #007BFF, #d0eaff) 1;
    }
    25% {
        border-image: linear-gradient(45deg, #d0eaff, #007BFF) 1;
    }
    50% {
        border-image: linear-gradient(45deg, #007BFF, #d0eaff) 1;
    }
    75% {
        border-image: linear-gradient(45deg, #d0eaff, #007BFF) 1;
    }
    100% {
        border-image: linear-gradient(45deg, #007BFF, #d0eaff) 1;
    }
}
*/

/* End of CSS animations */

/*Start of Last section - Life accomplisments*/

#edu{
    height: 100vh;
    background-color: var(--thirdSec-color);
}

.top_life, .mid_life {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0 15vw;
}

/* Section styling for eduAcc and skillAcc without vertical centering */
.eduAcc, .skillAcc {
    display: flex;
    justify-content: flex-start;  /* Align content to the left */
    align-items: flex-start;  /* Align items at the top */
}

.eduAcc{
    padding-top: 12vh;
}

.skillAcc{
    padding-top: 10vh;
}

/* Header styling for eduHeader and skillHeader */
.eduHeader h1{
    font: 35px / 28px 'opensans-bold', sans-serif;
    border-bottom: 1px solid var(--bar-color);
    padding-bottom: 3px;
    text-transform: uppercase;
}

.skillHeader h1{
    font: 35px / 28px 'opensans-bold', sans-serif;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--bar-color);
    text-transform: uppercase;
}

.eduInfo h1{
    font: 30px / 28px 'opensans-bold', sans-serif;
}

.eduInfo p{
    font: 20px / 24px 'librebaskerville-italic', serif;
    color: #6E7881;
    margin-bottom: 18px;
    margin-top: 9px;
}

.skillInfo h1{
    font: 30px / 28px 'opensans-bold', sans-serif;
}

.skillInfo p{
    font: 24px / 24px 'librebaskerville-italic', serif;
    color: #6E7881;
    margin-bottom: 18px;
}

.eduInfo, .skillInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.eduInfo{
    border-bottom: 1px solid #333;
}

.skill-bar {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35vw;
}

.skill-bar span {
    font-size: 20px;
    color: #6E7881;
    padding-bottom: 5px;
}


.bar-container {
    width: 100%;
    height: 30px;
    background-color: #ddd;
    border-radius: 5px;
    position: relative;
}


.bar {
    height: 100%;
    border-radius: 5px;
    background-color: transparent;
}


#python-bar {
    background-color: var(--bar-color);
    width: 75%;
}

#js-bar {
    background-color: var(--bar-color);
    width: 75%;
}

#html-bar {
    background-color: var(--bar-color);
    width: 85%;
}

#css-bar {
    background-color: var(--bar-color);
    width: 85%;
}
 
/* Media Queries */

/*Smaller Devices*/
@media screen and (max-width: 320px) {
    header {
        left: 0;
        right: 0;
        padding: 0px;
        border-radius: 0;
    }

    .side-menu ul li a {
        font-size: 25px;
    }

    .close-btn {
        font-size: 60px;
    }

    nav ul {
        flex-direction: column;
        gap: 3px;
    }

    nav ul li{
        margin: 0 10px;
    }

    nav ul li a {
        font-size: 1.5rem;
        text-decoration: underline;
    }

    .menu-icon {
        right: 2%;
        font-size: 2rem;
    }

    .welcome h1{
        font-size: 4rem;
    }

    .welcome p{
        font-size: 1.1rem;
    }

    .content-container{
        width: 90%;
    }

    .education {
        gap: 0px;
    }

    .duoInfo h1{
        font-size: 1px;
    }

    .strHead h1{
        margin-top: 15px;
        font-size: 3rem;
    }

    .eduBox {
        padding: 0px;
        width: 90px;
        height: 250px; 
        margin-top: 0px;
    }

    .eduBox h1{
        font-size: 0.2rem;
    }

    .eduBox p{
        font-size: 0.1rem;
    }

    #edu{
        height: auto;
    }
}

/* Mobile Devices (320px - 480px) */
@media screen and (min-width: 321px) and (max-width: 480px) {
    #prevSlide{
        background-color: var(--aboutBack-color);
    }

    *{
        height: auto;
    }

    header {
        left: 0;
        right: 0;
        padding: 0px;
        border-radius: 0;
    }

    
    .side-menu ul li a {
        font-size: 20px;
    }

    .close-btn {
        font-size: 60px;
    }

    nav ul {
        flex-direction: column;
        gap: 3px;
    }

    nav ul li{
        margin: 0 10px;
    }

    nav ul li a {
        font-size: 1.5rem;
        text-decoration: underline;
    }

    .menu-icon {
        right: 2%;
        font-size: 2rem;
    }

    .welcome h1{
        font-size: 3.2rem;
    }

    .welcome p{
        font-size: 0.9rem;
    }

    .content-container{
        width: 100%;
    }

    .slide h1{
        font-size: 1.7em;
    }

    .slide p{
        font-size: 1.1em;
    }

    .education {
        gap: 0px;
    }

    .strHead h1{
        margin-top: 15px;
        font-size: 2.8rem;
    }

    .eduBox {
        padding: 0px;
        width: 70px;
        height: auto; 
        margin-top: 0px;
    }

    .eduBox h1{
        font-size: 1rem;
    }

    .eduBox p{
        font-size: 0.6rem;
    }

    .eduAcc h1{
        font-size: 1.4rem;
    }

    .skillAcc h1{
        font-size: 1.4rem;
    }

    #edu{
        height: auto;
    }
}

/* Tablets (481px - 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    *{
        height: auto;
    }
    
    header {
        left: 22%;
        right: 22%;
        padding: 15px;
        height: auto;
    }

    nav ul li{
        margin: 0 10px;
    }

    nav ul li a {
        font-size: 1.2rem;
    }

    .menu-icon {
        right: 25%;
        top: 1%;
        font-size: 1.7rem;
    }

    .welcome h1{
        font-size: 3.4rem;
    }

    .welcome p{
        font-size: 1.1rem;
    }

    .content-container{
        width: 100%;
    }

    .education {
        gap: 0px;
    }

    .strHead h1{
        margin-top: 15px;
        font-size: 3rem;
    }

    .eduBox {
        padding: 10px;
        width: 20%;
        height: auto; 
        margin-top: 40px;
    }

    .eduBox h1{
        font-size: 1.8rem;
    }

    .eduBox p{
        font-size: 0.8rem;
    }

    .second_section{
        height: auto;
    }

    .third_section{
        height: auto;
    }

    #edu{
        height: auto;
    }
}

/* Small Screens (Laptops) (769px - 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        left: 20%;
        right: 20%;
    }

    .side-menu {
        z-index: 9998;
        width: 200px;        
    }

    .education {
        gap: 0px;
    }

    .strHead h1{
        margin-top: 20px;
        font-size: 2.7rem;
        height: auto;
    }

    .eduBox {
        padding: 10px;
        width: 20%;
        height: auto; 
        margin-top: -70px;
    }

    .eduBox h1{
        font-size: 1.6rem;
    }

    .eduBox p{
        font-size: 0.9rem;
    }

    .menu-icon {
        right: 24%;
    }

    .strHead{
        height: 150px;
    }

    .eduAcc h1{
        font-size: 1.6rem;
    }

    .skillAcc h1{
        font-size: 1.6rem;
    }

    .second_section{
        height: auto;
    }

    .third_section{
        height: auto;
    }

    #edu{
        height: auto;
    }
}

/* Desktops (Large Screens) (1025px - 1200px) */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    header {
        left: 25%;
        right: 25%;
    }

    .education {
        gap: 0px;
    }

    .strHead h1{
        margin-top: 35px;
    }
}